
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Martel', serif;
}
:root{
	--pink: #e84393 ;
}
html{
	font-size:62.5% ;
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
	overflow-x: hidden;
}
section{
	padding: 2rem 9%;
}
.btn{
	display: inline-block;
	margin-top: 1rem;
	border-radius: 5rem;
	background: #333;
	color: #fff;
	padding: .9rem 3.5rem;
	cursor: pointer;
	font-size: 1.7rem;
	text-transform: capitalize;
}
.btn:hover{
	background: var(--pink);
}

/**********body-header************/

.body-header header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	padding: 2rem 9%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}
.header-logo a{
	font-size: 3rem;
	color: #333;
	font-weight:bolder;
}
.nav-list{
	display: inline-block;
	padding-right: 1.5rem;
	font-size: 1.8rem;

}
.nav-link{
	color: #666;
}
.nav-link:hover{
	color: var(--pink);
}
#check{
	display: none;
}
.fa-bars{
	display: none;
	font-size: 3rem;
	color: #333;
	border-radius: .5rem;
	padding: .5rem 1.5rem;
	border: .1rem solid rgba(0, 0, 0, 0.3);
	cursor: pointer;
}


/************hero-section****************/

.hero-section{
	display: flex;
	align-items: center;
	min-height: 100vh;
	background: url('../images/bg.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}
.hero-section .content{
	max-width: 50rem;
}
.hero-section .content h3{
	font-size: 6rem;
	color: #333;
	text-transform: capitalize;
/* 	margin-top: 6rem; */
}

.hero-section .content span{
	font-size: 3.5rem;
	color: var(--pink);
	padding: 1rem 0;
	line-height: 1.5;
	text-transform: capitalize;
}
.hero-section .content p{
	font-size: 1.5rem;
	color: #444;
	padding: 1rem 0;
	line-height: 1.5;
}


/************about-section**************/


.heading{
	text-align: center;
	font-size: 4rem;
	color: #333;
	padding: 1rem;
	margin: 2rem 0;
	background: rgba(255, 51, 153, .05);
}
.heading span{
	color: var(--pink);
}
.about-section .row{
	display: flex;
	align-items: center;
	gap: 2rem;
	flex-wrap: wrap;
	padding: 2rem 0;
	padding-block: 3rem;
}
.about-section .row .video-container{
	flex: 1 1 40rem;
	position: relative;
}
.about-section .row .video-container video{
	width: 100%;
	border: 1.5rem solid #fff;
	border-radius: .5rem;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
	height: 100%;
	object-fit: cover;
}
.about-section .row .video-container h3{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 3rem;
	background: #fff;
	width: 100%;
	padding: 1rem 2rem;
	text-align: center;
	mix-blend-mode: screen;
	text-transform: capitalize;
}

.about-section .row .content{
	flex: 1 1 40rem;

}

.about-section .row .content h3{
	font-size: 3rem;
	color: #333;
	text-transform: capitalize;
}

.about-section .row .content p{
	font-size: 1.5rem;
	color: #999;
	padding: .5rem 0 ;
	padding-top: 1rem;
	line-height: 1.5;
}

/***********icons-section***************/

.icons-section{
	background: #eee;
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	padding-top: 5rem;
	padding-bottom: 5rem;

}

.icons-section .icons{
	background: #fff;
	border: .1rem solid rgba(0, 0, 0, 0.1) ;
	padding: 3rem;
	display: flex;
	align-items: center;
	flex: 1 1 25rem;
}

.icons-section .icons img{
/* 	height: 5rem; */
	margin-right: 1.5rem;
}

.icons-section .icons .info h3{
	color: #333;
	padding-bottom: .5rem;
	font-size: 1.5rem;
	text-transform: capitalize;
}
.icons-section .icons .info span{
	color: #555;
	font-size: 1.2rem;
	text-transform: capitalize;
}

/**************products-section************/
.product-section .box-container{
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}
.product-section .heading{
	text-transform: capitalize;
}
.product-section .box-container .box{
	flex: 1 1 30rem;
	box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
	position: relative
}
.product-section .box-container .box .discount{
	position: absolute;
	top: 1rem;
	left: 1rem;
	padding: .7rem 1rem;
	font-size: 2rem;
	color:var(--pink);
	background: rgba(255, 51,153,.05);
	z-index: 1;
	border-radius: .5rem
}
.product-section .box-container .box .image{
	position: relative;
	text-align: center;
	padding-top: 2rem;
	overflow: hidden;
}
.product-section .box-container .box .image img{
	height: 25rem;
}
.product-section .box-container .box:hover .image img{
	transform: scale(1.1);
	transition: all 0.3s;
}
.product-section .box-container .box .image .icons{
	position: absolute;
	bottom:-7rem;
	left: 0;
	right: 0;
	display: flex;
}
.product-section .box-container .box:hover .image .icons{
	bottom: 0;
}

.product-section .box-container .box .image .icons a{
	height: 5rem;
	line-height: 5rem;
	font-size: 2rem;
	width: 20%;
	background: var(--pink);
	color: #fff;
}
.product-section .box-container .box .image .icons a:hover{
	background: #333;
}
.product-section .box-container .box .image .icons .cart-btn{
	border-left:.7rem solid #fff7;
	border-right: .7rem solid #fff7;
	width: 100%;
}
.product-section .box-container .box .content{
	padding: 2rem;
	text-align: center;
}
.product-section .box-container .box .content h3{
	font-size: 2.5rem;
	color: #333;
}
.product-section .box-container .box .content .price{
	font-size: 2.5rem;
	color: var(--pink);
	font-weight: bolder;
	padding-top: 1rem;
}

.product-section .box-container .box .content .price span{
	font-size: 1.5rem;
	color: #999;
	font-weight: lighter;
	text-decoration: line-through;
}

/**********review-section**********/

.review-section .box-container{
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}
.review-section .box-container .box{
	flex: 1 1 30rem;
	box-shadow: 0 .5rem1.5rem rgba(0, 0, 0, .1);
	border-radius: .5rem;
	padding: 3rem 2rem;
	position: relative;
	border: .1rem solid rgba(0, 0, 0, .1);
}
.review-section .box-container .box .fa-quote-right{
	position: absolute;
	bottom: 3rem;
	right: 3rem;
	font-size: 6rem;
	color: #eee;
}
.review-section .box-container .box .user{
	display: flex;
	align-items: center;
	padding-top: 2rem;
}
.review-section .box-container .box .stars i{
	color: var(--pink);
	font-size: 1.5rem;
}
.review-section .box-container .box p{
	color: #999;
	font-size: 1.5rem;
	line-height: 1.5;
	padding-top: 2rem;
}
.review-section .box-container .box .user img{
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 1rem;
}
.review-section .box-container .box .user h3{
	font-size: 2rem;
	color: #333;
	text-transform: capitalize;
}
.review-section .box-container .box .user span{
	font-size: 1.4rem;
	color: #333;
	text-transform: capitalize;

}

/***********contact-section**********************/

.contact-section .row{
	display: flex;
	flex-wrap: wrap-reverse;
	gap: 1.5rem;
	align-items: center;
}
.contact-section .row form{
	flex: 1 1 40rem;
	padding: 2rem 2.5rem;
	box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
	border: .1rem solid rgba(0, 0, 0, .1);
	background: #fff;
	border-radius: .5rem;
}
.contact-section .row .image{
	flex: 1 1 40rem;
}
.contact-section .row .image img{
	width: 100%;
}
.contact-section .row form .box{
	padding: 1rem;
	font-size: 1.7rem;
	color: #333;
	text-transform: none;
	border: .1rem solid rgba(0, 0, 0, .1);
	border-radius: .5rem;
	margin: .7rem 0;
	width: 100%;
}
.contact-section .row form .box:focus{
	border-color: var(--pink);
}
.contact-section .row form textarea{
	height: 15rem;
	resize: none;
}

/***********footer-section**********************/

.footer-section{
	background: #faf8f8;
	text-transform: capitalize;
	box-shadow: 0 .5rem 3.5rem rgba(0, 0, 0, .1);
}
.footer-section .box-container{
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}
.footer-section .box-container .box{
	flex:1 1 25rem;
}
.footer-section .box-container .box h3{
	color: #333;
	font-size: 2rem;
	padding: 1rem 0;
}
.footer-section .box-container .box a{
	display: block;
	color: #666;
	font-size: 1.5rem;
	padding: 1rem 0;
}
.footer-section .box-container  .box a:hover{
	color: var(--pink);
	text-decoration: underline;
}
.footer-section .credit{
	text-align: center;
	padding: 1.5rem;
	margin-top: 1.5rem;
	padding-top: 2.5rem;
	font-size: 1.5rem;
	color: #333;
	border-top: .1rem solid rgba(0, 0, 0, .1);
	letter-spacing: .2rem;
}
.footer-section .credit span{
	color: var(--pink);
}



/*********media queries************/


@media screen  and (max-width: 991px){

	html{
		font-size: 55%;
	}
	header{
		padding: 2rem;
	}
	section{
		padding: 2rem;
	}
	.hero-section{
		background-position: left;
	}
}

@media screen and (max-width: 768px){

	html .fa-bars{
		display: block;
	}
	.header-nav{
		position:absolute;
		top: 110%;
		left: -100%;
		width: 100%;
		height: 90vh;
		background: #fff;
		transition: all 0.8s;
	}
	.nav-list{
		margin: 1.5rem;
		padding: 1.5rem;
		display: block;
		text-align: center;
	}
	.nav-menu{
		margin-top: 14rem;
	}
	
	#check:checked ~ .header-nav{
		left: 0;
	}

	.hero-section .content h3{
		font-size: 5rem;
	}

	.hero-section .content span{
		font-size: 2.5rem;
	}
	.icons-section .icons .info h3{
	
		font-size: 2rem;
	}
.icons-section .icons .info span{
		font-size: 1.7rem;
	}
}

@media screen  and (max-width: 450px){

	html{
		font-size: 50%;
	}
	.nav-menu{
		margin-top: 12rem;
	}
	.heading{
		font-size: 3rem;
	}
	.about-section .row .video-container h3{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 1.2rem;
		background: #fff;
		width: 100%;
		padding: 1rem 2rem;
		text-align: center;
		mix-blend-mode: screen;
		text-transform: capitalize;
	}
}
